<div class="custom-card row p-2">
  <div class="card-icon col-1 d-flex justify-content-center align-items-center">
    <img src="../../../../assets/images/node.png" alt="" />
  </div>
  <div class="card-info col-6">
    <div class="repository-name d-flex align-items-center gap-2">
      <h2 class="repository-title">Node.js</h2>
      <h3 class="repository-subtitle">(Node.js/Node)</h3>
    </div>
    <div class="repository-description">
      <p>Node.js Javascript Run Time</p>
    </div>
  </div>
  <div class="card-status col-5">
    <div class="row gap-4">
      <div class="tags d-flex gap-3 justify-content-end">
        <span class="tag tag-language">Javascript</span>
        <span class="tag tag-privacy">Public</span>
      </div>
      <div class="repository-info d-flex justify-content-end gap-2">
        <div class="stars">
          <img src="../../../../assets/icons/star.svg" alt="Star Icon" /> 1000
        </div>
        <div class="watchers">
          <img
            src="../../../../assets/icons/watchers.svg"
            alt="watchers Icon" />
          1000
        </div>
        <div class="pulls-request">
          <img src="../../../../assets/icons/fork.svg" alt="Fork Icon" /> 1000
        </div>
        <div class="issues">
          <img src="../../../../assets/icons/issues.svg" alt="Issues" /> 1000
        </div>
      </div>
    </div>
  </div>
</div>
