<div class="container-fluid">
  <nav class="navbar sticky-top">
    <div class="container-fluid">
      <div class="d-flex w-100 p-5 justify-content-between">
        <span
          (click)="goToSearchPage()"
          (keydown.enter)="goToSearchPage()"
          tabindex="0"
          role="button"
          class="btn-voltar"
          class="btn-voltar"
          >Voltar</span
        >
        <app-logo [size]="logoSize"></app-logo>
      </div>
    </div>
  </nav>

  <div class="row d-flex justify-content-center">
    <div class="container-info col-10">
      <app-card [cardData]="cardData"></app-card>
    </div>
  </div>
  <div class="container search-content">
    <app-card-pull
      *ngFor="
        let card of tableData
          | paginate
            : {
                itemsPerPage: paginationControls.itemsPerPage,
                currentPage: paginationControls.currentPage,
                totalItems: paginationControls.totalItems,
              }
      "
      [cardData]="card" />
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <pagination-controls
          [responsive]="true"
          (pageChange)="onChangePage($event)" />
      </div>
    </div>
  </div>
</div>
