.custom-input {
  width: 540px;
  padding: 20px 20px 20px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 600;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 15px;
}
.form-group {
  position: relative;
}
