<div
  class="vh-100 d-flex flex-column justify-content-evenly align-items-center">
  <div class="row">
    <div class="search-container d-flex align-items-center flex-column gap-5">
      <div class="logo-container">
        <app-logo />
      </div>
      <app-input
        [placeholder]="'Digite a linguagem de programação'"
        (search)="onSearch($event)" />
    </div>
  </div>
  <div class="search-content row gap-2" *ngIf="tableData.length !== 0">
    <app-card
      (click)="viewDetails()"
      *ngFor="
        let card of tableData
          | paginate
            : {
                itemsPerPage: paginationControls.itemsPerPage,
                currentPage: paginationControls.currentPage,
                totalItems: paginationControls.totalItems,
              }
      "
      [cardData]="card" />
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <pagination-controls
          [responsive]="true"
          (pageChange)="onChangePage($event)" />
      </div>
    </div>
  </div>
</div>
