.tag {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 3px 20px;
}
.tag-language {
  background-color: #fff;
  color: #ff9254;
  border: 2px solid #ff9254;
}
.tag-privacy {
  background: rgba(255, 147, 84, 19%);
  border: 2px solid #ff9254;
  color: #ff9254;
  font-weight: 500;
}
